* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.icons button {
    padding: 10px 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    height: 80vh;
    background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url('https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=1500');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: white;
}

.hero-content h1 {
    font-size: 60px;
}

.hero-content p {
    margin: 15px 0;
    font-size: 20px;
}

.shop-btn {
    padding: 12px 25px;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.categories,
.products {
    padding: 60px 8%;
}

.categories h2,
.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.category-grid,
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.category-card,
.product-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    text-align: center;
    background: white;
}

.category-card img,
.product-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.category-card h3,
.product-card h3 {
    margin: 15px 0;
}

.product-card p {
    color: #555;
}

.product-card button {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

@media(max-width:768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 40px;
    }
}
